/* --pc  */

@media (min-width:1025px) {
    .menu_bar-item {
        display: none;
    }
    .nav_account {
        display: none;
    }
}

@media(min-width:740px) and (max-width:1024px) {
    .menu_bar-item {
        display: none;
    }
    .nav_account {
        display: none;
    }
    .foodmenu-img {
        border-radius: 50% !important;
    }
}


/*Mobile */

@media (max-width:739px) {
    .slider__heading {
        font-size: 25px !important;
    }
    .list {
        display: flex;
        right: 0;
        top: 110px;
        flex-direction: column;
        position: fixed;
        width: 70%;
        height: 100%;
        /* background-color: #7fa1ab;
        background-image: linear-gradient( to left #7fa1ab, rgb(191, 75, 75)); */
        background-color: #64c2df;
        background-image: linear-gradient(to left, #64c2df, pink);
        border-left: 3px solid #fff;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    .list__item {
        padding: 20px;
        margin: 0 15px;
        border-bottom: 1px dotted;
        color: #fff !important;
        text-align: end;
    }
    .nav_show:checked~.list {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    .foodmenu-img {
        border-radius: 50% !important;
    }
    .nav__bottom {
        max-height: 250px;
    }
    .nav__input {
        padding: 5px !important;
    }
    .nav__btn {
        padding: 5px 10px !important;
    }
    .slider__order-heading {
        font-size: 20px !important;
    }
    .footer__text {
        display: flex;
        flex-direction: column;
    }
}